@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Montserrat-Regular.ttf') format('ttf');
    src: url('../fonts/Montserrat-Regular.woff') format('woff');
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Montserrat-Bold.ttf') format('ttf');
    src: url('../fonts/Montserrat-Bold.woff') format('woff');
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2');
}
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Lato-Regular.ttf') format('ttf');
    src: url('../fonts/Lato-Regular.woff') format('woff');
    src: url('../fonts/Lato-Regular.woff2') format('woff2');
}
@font-face {
    font-family: "Lato-Italic";
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Lato-BoldItalic.ttf') format('ttf');
    src: url('../fonts/Lato-BoldItalic.woff') format('woff');
    src: url('../fonts/Lato-BoldItalic.woff2') format('woff2');
}